.NewPost {
    text-align: center;
}

.NewPostWrapper {
    width: 600px;
    margin: 0px auto;
}

.Title {
    display: block;
    margin: 10px auto;
    width: 600px;
    height: 40px;
    padding: 5px;
    font-size: 30px;
    font-weight: 700;
}

.Tags {
    display: block;
    margin: 10px auto;
    width: 600px;
    height: 30px;
    padding: 5px;
    font-size: 15px;
    font-weight: 300;
}

.NewPost textarea {
    display: block;
    margin: 10px auto;
    width: 600px;
    height: 300px;
    padding: 10px;
}

.Title input::placeholder {
    font-weight: 700;
    font-size: 30px;
    color: black;
}

.NewPost textarea::placeholder {
    color: black;
    font-size: 16px;
}

.Title input:focus::placeholder {
    color: transparent;
}

.NewPost textarea:focus::placeholder {
    color: transparent;
}

.Message {
    padding: 5px;
    color: red;
    font-style: italic;
    font-size: 20px;
}

.Button {
    background-color: cyan;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px 20px;
}

.Button:hover {
    background-color: green;
    color: white;
}