h1 {
    color: #292929;
}

.Setting textarea {
    display: block;
    margin: 10px auto;
    width: 600px;
    height: 300px;
    font-size: 18px;
    padding: 10px;
}

.Setting input {
    display: block;
    margin: 10px auto;
    width: 600px;
    height: 40px;
    padding: 10px;
    font-size: 18px;
}

.Avatar {
    height: 25px;
    padding: 10px;
    font-size: 14px;
}