.EditPost {
    text-align: center;
    padding-top: 50px;
}

.EditPostWrapper {
    width: 600px;
    margin: 0px auto;
}

.Title input {
    display: block;
    margin: 10px auto;
    width: 600px;
    height: 40px;
    padding: 5px;
    font-size: 30px;
    font-weight: 700;
}

.Tags {
    display: block;
    margin: 10px auto;
    width: 600px;
    height: 30px;
    padding: 5px;
    font-size: 15px;
    font-weight: 300;
}

.EditPost textarea {
    display: block;
    margin: 10px auto;
    width: 600px;
    height: 300px;
    padding: 10px;
}

.Title input::placeholder {
    font-weight: 700;
    font-size: 30px;
    color: black;
}

.EditPost textarea::placeholder {
    color: black;
    font-size: 16px;
}

.EditPost input:focus::placeholder {
    color: transparent;
}

.EditPost textarea:focus::placeholder {
    color: transparent;
}

.Message {
    color: red;
    font-style: italic;
    font-size: 20px;
}
