.LogIn {
    text-align: center;
}

.LogIn input {
    color: #7e7e7e;
    display: block;
    width: 100%;
    appearance: none;
    padding-left: 5px;
    margin-bottom: 15px;
    line-height: 26px;
    font-size: 16px;
}

.LogIn button {
    margin-top: 10px;
}

.Wrapper {
    text-align: left;
    width: 300px;
    margin: 0 auto;
    padding: 30px;
}

.Message {
    color: red;
    font-style: italic;
}